

<div class="LightSideStyle">
    <h1 class="page-header">{{ header }}</h1>
    <p>{{ description }}</p></br></br>
</div>
<div class="row">
    <div id="topLeftContents" class="col-md-6">
        <h2>Sign Up</h2>
        <button>Sign Up</button>
    </div>

    <div id="topRightContents" class="col-md-6">
        <h2>Sign in here!</h2>
        <p>UserName:</p>
        <input type="textArea" id="username">
        <p>Password:</p>
        <input type="textArea" id="password"></br></br>
        <button class="btn btn-success">Log In</button>
        <p>Sign up now to try making your own model!</p>
    </div>
</div>

<div id="bottomContents">
    <h2>Try a premade Model Here!</h2>
    <p>Enter Essay</p>
    <textarea id="essayContents" rows="10" cols="50"></textarea>
    <p>Select Premade Model</p>
    <select>
        <option selected="selected">...</option>
        <option>Old Westerns</option>
        <option>Modern Economics</option>
        <option>World Leaders</option>
    </select>
    <button>Submit</button>

</div>